<%= render "shared/head"%>
<body>
    <div class="container">
        <h1>Welcome to BookWorm Club!</h1>
        <br>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <h2 class="mb-3">Register </h2>
                <form action="/users" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                    <div class="form_group">
                        <label>Username</label>
                        <input class="form-control" name="userInfo[username]" placeholder="Enter your username">
                    </div>
                    <br>
                    <div class="form_group">
                        <label>Email</label>
                        <input class="form-control" name="userInfo[email]" placeholder="Enter your email">
                    </div>
                    <br>
                    <div class="form_group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="userInfo[password]" placeholder="Enter your password">
                        <small id="passwordHelp" class="form-text text-muted">* Password should be at least 8 characters.</small>
                    </div>
                    <br>
                    <div class="form_group">
                        <label>Password Confirmation</label>
                        <input type="password" class="form-control" name="userInfo[password_confirmation]" placeholder="Re-Enter your password">
                    </div>
                    <br>
                    <button class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            <div class="col-md-5 offset-md-1">
                <h2 class="mb-3">Log In </h2>
                <form action="/sessions" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                    <div class="form_group">
                        <label>Email</label>
                        <input class="form-control" name="email" placeholder="Enter your email">
                    </div>
                    <br>
                    <div class="form_group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <br>
                    <button class="btn btn-primary">Log In</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>